@import url("https://googleapis.com");
@import url("https://googleapis.com");

.container {
  margin: 0 auto;
  overflow: hidden;
}

.site_header {
  padding-top: max(1rem, env(safe-area-inset-top));
  padding-left: max(1rem, env(safe-area-inset-left));
  padding-right: max(1rem, env(safe-area-inset-right));
  padding: 0 24px;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
}

.site_header div {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  font-family: "Instrument Serif", serif;
  font-style: normal;
  text-shadow: 0.4rem 0.1rem #000000;
  white-space: nowrap;
}

.site_header div:nth-child(1) {
  justify-self: start;
}

.site_header div:nth-child(2) {
  justify-self: center;
}

.site_header div:nth-child(3) {
  justify-self: end;
}

@media (max-width: 1024px) {
  .site_header,
  .site_header div {
    height: clamp(50px, 3vw, 70px);
    font-size: clamp(28px, 2vw, 30px);
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .site_header,
  .site_header div {
    height: clamp(30px, 3vw, 50px);
    font-size: clamp(15px, 2vw, 28px);
  }
}

.container_inner {
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(10px, 3vw, 40px);
  padding-left: clamp(30px, 15vw, 300px);
  padding-right: clamp(30px, 15vw, 300px);
}

.pictureName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 5vw, 70px);
  margin-bottom: 60px;
}

@media (max-width: 1280px) {
  .pictureName {
    margin-bottom: 45px;
  }
}

@media (max-width: 1024px) {
  .pictureName {
    margin-bottom: 25px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .pictureName {
    margin-bottom: 5px;
  }
}

img {
  width: clamp(150px, 40vw, 380px);
  height: clamp(110px, 30vw, 280px);
  border: 1px solid black;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 7%;
  flex-shrink: 0;
  opacity: 0;
  animation: fade-down 3s ease-out 1s 1 normal forwards;
}

@keyframes fade-down {
  from {
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #222124;
  font-family: "Instrument Serif", serif;
  font-style: normal;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -0.02em;
  opacity: 0;
  animation: fade-left 3s ease-out 3.5s 1 normal forwards;
  text-shadow: 0.08em 0 #777676;
}

@media (min-width: 320px) and (max-width: 430px) {
  h1 {
    font-size: clamp(30px, 3vw, 40px);
  }
}

@keyframes fade-left {
  from {
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  #content {
    padding: 0 15vw;
    gap: 30px;
  }
}

@media (max-width: 1280px) {
  #content {
    padding: 0 9vw;
    gap: 27px;
  }
}

@media (max-width: 1024px) {
  #content {
    padding: 0 calc(6vw - 1px);
    gap: 23px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  #content {
    padding: 0 4vw;
    gap: 5px;
  }
}

.leftprofile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  animation: leftprofilefade-right 3s ease-out 9.5s 1 normal forwards;
}

@media (min-width: 1280px) {
  .leftprofile {
    gap: 20px;
  }
}

@media (max-width: 1280px) {
  .leftprofile {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .leftprofile {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .leftprofile {
    gap: 5px;
  }
}

@media (max-width: 430px) {
  .leftprofile {
    width: 45%;
    gap: 1px;
  }
}

@keyframes leftprofilefade-right {
  from {
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leftprofile div:nth-child(odd) {
  font-family: "Instrument Serif", serif;
  font-size: clamp(15px, 3vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 1px #777676;
}

.leftprofile div:nth-child(even) {
  height: 400px;
  font-size: clamp(10px, 2vw, 18px);
  font-style: normal;
  font-family: "Inter", sans-serif;
  opacity: 0;
  animation: leftprofilethreefade-down 3s ease-out 12.5s 1 normal forwards;
}

@media (min-width: 1280px) {
  .leftprofile div:nth-child(even) {
    line-height: 1.8;
  }
}

@media (max-width: 1280px) {
  .leftprofile div:nth-child(even) {
    line-height: 1.7;
  }
}

@media (max-width: 1024px) {
  .leftprofile div:nth-child(even) {
    line-height: 1.6;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .leftprofile div:nth-child(even) {
    height: 300px;
    line-height: 1.5;
  }
}

@keyframes leftprofilethreefade-down {
  from {
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Rightprofile {
  box-sizing: border-box;
  height: auto;
  margin-right: calc(50% - 52vw);
  border: 1px solid black;
  border-radius: 30px;
  padding: clamp(10px, 2vw, 30px) clamp(10px, 2vw, 30px);
  background-color: rgba(0, 0, 0, 0.9);
  flex: 1;
  opacity: 0;
  animation: rightprofilefade-left 3s ease-out 6.5s 1 normal forwards;
}

@keyframes rightprofilefade-left {
  from {
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.exhibitionexperience,
.awardhistory,
.projecthistory,
.skills,
.contact {
  margin-bottom: clamp(120px, 3vw, 170px);
}

.exhibitionexperience div,
.awardhistory div,
.projecthistory div,
.skills > :first-child,
.contact > :first-child {
  font-family: "Instrument Serif", serif;
  font-style: normal;
  font-size: clamp(9px, 3vw, 33px);
  margin-bottom: clamp(1px, 0.3vw, 20px);
  color: #fffdf6;
  text-shadow: 2px 1px #777676;
}

.exhibitionexperience ul,
.awardhistory ul,
.projecthistory ul,
.contact address {
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  font-style: normal;
  line-height: clamp(1.4, 1vw, 2);
  color: #fffdf6;
}

@media (min-width: 320px) and (max-width: 768px) {
  .exhibitionexperience ul,
  .awardhistory ul,
  .projecthistory ul,
  .contact address {
    font-size: clamp(7.5px, 2vw, 15px);
  }
}

.skillgroup {
  display: grid;
  gap: clamp(1px, 0.5vw, 10px);
}

@media (min-width: 1280px) {
  .skillgroup {
    grid-template-columns: repeat(2, 150px);
  }
}

@media (max-width: 1280px) {
  .skillgroup {
    grid-template-columns: repeat(2, 150px);
  }
}

@media (max-width: 1024px) {
  .skillgroup {
    grid-template-columns: repeat(2, 140px);
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup {
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .skillgroup {
    grid-template-columns: repeat(2, 65px);
    gap: 10px;
  }
}

.skillgroup div {
  font-family: "Inter", sans-serif;
  font-style: normal;
  border: 1px solid #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 100px 100px;
  color: #fffdf6;
}

@media (min-width: 1280px) {
  .skillgroup div {
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 1280px) {
  .skillgroup div {
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .skillgroup div {
    width: 130px;
    height: 30px;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup div {
    width: 70px;
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .skillgroup div {
    width: 60px;
    height: 20px;
  }
}

.skillgroup div:nth-child(1) {
  font-size: clamp(0.6rem, 0.8vw, 14px);
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup div:nth-child(1) {
    font-size: 5px;
    line-height: 22px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .skillgroup div:nth-child(1) {
    font-size: 4.5px;
    line-height: 18px;
  }
}

.skillgroup div:nth-child(2) {
  font-size: clamp(0.7rem, 0.8vw, 17px);
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup div:nth-child(2) {
    font-size: 10px;
    line-height: 21px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .skillgroup div:nth-child(2) {
    font-size: 7.5px;
    line-height: 18px;
  }
}

.skillgroup div:nth-child(3) {
  font-size: clamp(0.6rem, 0.8vw, 14px);
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup div:nth-child(3) {
    font-size: 6px;
    line-height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .skillgroup div:nth-child(3) {
    font-size: 4.5px;
    line-height: 18px;
  }
}

.skillgroup div:nth-child(4) {
  font-size: clamp(0.4rem, 0.8vw, 11px);
}

@media (min-width: 420px) and (max-width: 768px) {
  .skillgroup div:nth-child(4) {
    font-size: 4.5px;
    line-height: 23px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .skillgroup div:nth-child(4) {
    font-size: 4px;
    line-height: 18px;
  }
}

address a {
  text-decoration: underline 2px;
  will-change: transform;
  transition:
    background 0.5s,
    transform 0.2s ease;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 2px solid #0051ff;
  outline-offset: 2px;
}

@media (hover: hover) {
  a:hover {
    background: #949494;
  }
}

@media (pointer: fine) {
  a {
    padding: 2px 4px;
  }
}

@media (pointer: fine) and (min-width: 320px) and (max-width: 1280px) {
  a {
    padding: 2px 0;
  }
}

@media (pointer: coarse) {
  a {
    padding: 10px 16px;
  }
}

@media (pointer: coarse) and (min-width: 320px) and (max-width: 1280px) {
  a {
    padding: 10px 0;
  }
}

a:active {
  transform: scale(0.8);
}

a:visited {
  color: red;
}

svg {
  top: 1px;
}
